{% extends "base.html" %}

{% block content %}

        <div class="mdl-layout__tab-panel" id="contact">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	    <div class="mdl-grid portfolio-max-width">
              <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
		
		  
		    <div class="mdl-card__supporting-text">
        	      <p>
			The best way to reach me is by email at <a href="mailto:owen@owenacharles.com">owen@owenacharles.com.</a> 
	      </p>
		      <p>I don't really use social media, but you can find me on <a href="https://www.linkedin.com/in/owenacharles/">linkedin</a>. </p>
			<p>
			On github, I'm <a href="https://github.com/oacharles">oacharles</a>. 
		      </p><p>My resume is also available <a href="owen_charles_resume.pdf">here</a></p>      
	  
               
	      </div>
	      
		
	      </div>
</div></div>
            </div>
            
          </section>
        </div>


{% endblock %}
